AddDefaultCharset utf-8 
AddCharset utf-8 * 
<IfModule mod_charset.c> 
    CharsetSourceEnc utf-8 
    CharsetDefault utf-8 
</IfModule>

<IfModule mod_rewrite.c>
Options +FollowSymlinks
RewriteEngine On
RewriteBase /
</IfModule>

#RewriteCond %{HTTP_HOST} .
#RewriteCond %{HTTP_HOST} !^d1.tesoricasa\.ru [NC]
#RewriteRule (.*) http://d1.tesoricasa.ru/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]

