html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, ins, kbd, q, samp, small, strong, sub, sup, var, a, b, i,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; outline: none; }
td { vertical-align: top; }
@media screen and (-webkit-min-device-pixel-ratio:0) { input, select, textarea { margin: 0; padding: 0; } }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
img { border: 0; outline: none; }
table { border-collapse:collapse; border-spacing:0; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
input, select { vertical-align: middle; }
textarea { overflow: auto; }
label, button, input[type=submit] { cursor: pointer; }

button, input, select, textarea { margin: 0; padding: 0; }
button::-moz-focus-inner, input::-moz-focus-inner, select::-moz-focus-inner, textarea::-moz-focus-inner { padding:0; border:0; }
button { width: auto; overflow: visible; }

body { font: 18px/1.2 Georgia,MS Serif,serif; background:url(img/bg-02.jpg) 50% 0 repeat-y #1a1108; background-attachment:fixed; background-size:cover; color: #fff; position:relative; height:auto !important; height:100%; min-height:100%; }
html { height:100%; }
div.main { height:100%; min-height:300px; margin:2em 0 0; }

h1, h2, h3  { margin:0 0 .7em; font-weight:normal; }
h1 { font-size: 1.65em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.2em; }

a { color:#ccc; text-decoration:none; border-bottom:1px solid #4d4d4d; }
a:hover { border-bottom:0 none; }

strong { font-weight: bold; }
em { font-style: italic; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

.hidden { display: none; } 

.cb { zoom: 1; }
.cb:before, .cb:after { content:'.'; display: block; height: 0; visibility: hidden; overflow: hidden; text-indent: -9999px; } 
.cb:after { clear: both; }

p { margin-bottom: 1em; }
ol { padding: 0 0 1em 1em; list-style-type: decimal; }
ol li { padding-left: 0.5em; }
ul { padding: 0 0 1em 1em; list-style: disc; }

.cl { clear: left; }
.fl { float: left; }
.fr { float: right; }
.tac { text-align: center; }
.tal { text-align: left; }
.tar { text-align: right; }
.grey-0 { color: #333; }
.grey-1 { color: #666; }
.red { color: red !important; }
.big { font-size: 1.3em; }
.small { font-size: .85em; }

/* form */

input.placeholder, textarea.placeholder, ::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {color: #333;}
input, select, textarea { border:2px solid #fff; border-radius:7px; font:inherit; padding:0.3em 0.5em; width:100%; max-width:400px; box-sizing: border-box; }
form ul { margin:0; padding:0; list-style:none; }
form li { margin:0.7em 0 0; padding:0; }
form li.button { margin:2em 0 0; }
label { font-size:0.8em; display:block; margin:0.2em 0; }
form li.button input { width:auto; padding:0.4em 2em; font-size:1.1em; }
form li.button input:hover { text-shadow:0 0 20px #000, 1px 0 5px #000; }
form li.button input:active { padding:0.45em 2em 0.35em; }
form span.error { color:#f00; }

/* style */

div.w1000 { width:100%; max-width:1000px; margin:0 auto; }
div.fc { display:-moz-inline-stack; display:inline-block; vertical-align:top; zoom:1; *display: inline; z-index:1; }
img.i100, div.i100 img { width:100%; }
article { -webkit-column-count:2; -moz-column-count:2; column-count:2; -webkit-column-gap:2em; -moz-column-gap:2em; column-gap:2em; column-fill:auto; }
a.bgradius { color:#000; padding:0.2em 1em; border-radius:7px; border:0 none; background:rgba(255,255,255,0.5); -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; }
a.bgradius:hover { background:rgba(255,255,255,1); }

/* header */

header { padding:1.5em 0 0; background:rgba(0,0,0,0); border-bottom:1px solid rgba(255,255,255,0.3); overflow:hidden; }
div.head-logo, div.head-contacts { width:49%; }
div.head-logo a { border-bottom:0 none; }
div.head-logo img { opacity:0.5; -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; }
div.head-logo a:hover img { opacity:1; }
div.head-contacts { margin:2.3em 0 0; }
div.head-name { font-size: 2em; margin:0 0 0.2em; }
address { font-style:normal; } 
ul.address-head { padding:0; margin:0; list-style:none; color:#ccc; }
li.address-street  { font-size:1.1em; position:relative; white-space:nowrap; }
li.address-street a { font-size:0.78rem; text-decoration:none; white-space:nowrap; border-bottom:0 none; -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; } 
address span.icon { background:url(img/icons.png) no-repeat; display:-moz-inline-stack; display:inline-block; vertical-align:top; zoom:1; *display: inline; z-index:1; opacity:0.5; margin:2px 0.2rem 0 1.3rem; position:relative; -webkit-transition:opacity .5s ease; -moz-transition:opacity .5s ease; -o-transition:opacity .5s ease; transition:opacity .5s ease; }
address a:hover span.icon { opacity:1; }
address a:hover { color:#fff; }
address span.text { border-bottom:1px dotted #555; }
address a:hover span.text { border-bottom:0 none; }
a.address-map-a span.icon { width:20px; height:20px; background-position:0 0; }
a.address-message-a span.icon { width:22px; height:19px; background-position:-21px 0; }
li.address-phone {  }
a.address-phone-a { font-size:.9em; color:#fff; font-weight:bold; text-decoration:none; border-bottom:0 none; }
a.address-phone-a span.code { color:#ccc; font-weight:normal; }
a.address-phone-a span.icon { width:14px; height:14px; background-position:-44px 0; margin-top:6px; margin-left:.8rem; }
li.address-time { font-size:1.1em; margin:0.5em 0 0; }
li.address-time span.num { color:#fff; font-weight:bold; }
span.address-time-now { font-size:0.78rem; }
span.address-time-now span.icon { width:21px; height:21px; background-position:-59px 0; }

/* menu-mobile */

ul.mobile-nav { display:none; padding:0; margin:0 0 0 -5px; list-style:none; white-space:nowrap; }
ul.mobile-nav li { cursor:pointer; display:-moz-inline-stack; display:inline-block; vertical-align:top; zoom:1; *display: inline; z-index:1; }
ul.mobile-nav li:before { content:""; position:absolute; background:url(img/icons.png) no-repeat; background-size:500px 500px; z-index:1; }
ul.mobile-nav li.mobile-nav-menu:before { width:18px; height:18px; background-position:-93px 0; margin:10px 0 0 5px; }
ul.mobile-nav li.mobile-nav-address:before { width:18px; height:18px; background-position:-74px 0; margin:9px 0 0 5px; }
ul.mobile-nav li.mobile-nav-message:before { width:20px; height:20px; background-position:-111px 0; margin:9px 0 0 5px; }
li.mobile-nav-address, li.mobile-nav-message { opacity:0.5; }
ul.mobile-nav li:hover { background:rgba(255,255,255,0.3); opacity:1; }
ul.mobile-nav a { display:block; border:0 none; padding:10px 10px 1em 30px; z-index:2; position:relative; }

/* menu */

nav.head-nav { margin:1em 0 0; white-space:nowrap; }
nav.head-nav ul.head-menu { display:inline; font-size:1.1em; margin:0 1em 0 -0.6em; padding:0; }
nav.head-nav li.head-menu-li a { color:#fff; text-decoration:none; border-bottom:0 none; display:block; padding:0.2em 0.6em 0.1em; border-radius:7px; -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; margin:0 0 0.8em; }
nav.head-nav li.head-menu-li a span.cat { display:none; }
nav.head-nav li.head-menu-li a.active { color:#000; background:rgba(255,255,255,0.5); }
nav.head-nav ul.head-menu a:hover:not(.active) { opacity:0.4; }
nav.head-nav ul.head-menu li { display:-moz-inline-stack; display:inline-block; vertical-align:top; zoom:1; *display: inline; z-index:1; }
nav.head-nav div.head-menu-sub { max-height:0px; opacity:0; position:absolute; left:0; width:100%; background:rgba(12,7,2,0.98); -webkit-transition:max-height .5s ease; -moz-transition:max-height .5s ease; -o-transition:max-height .5s ease; transition:max-height .5s ease; z-index:1; white-space:normal;  overflow:hidden; }
nav.head-nav div.head-menu-sub-div:before, nav.head-nav div.head-menu-sub-div:after { content:""; width:100%; left:0; height:1px; border-top:1px solid rgba(255,255,255,0.3); position:absolute; }
nav.head-nav div.head-menu-sub-div:before { margin-top:-20px; }
nav.head-nav div.head-menu-sub-div:after { margin-top:19px; }
nav.head-nav div.head-menu-sub-div { padding:20px 0; }
nav.head-nav ul.head-menu-sub-ul { margin:0; padding:0; }
nav.head-nav div.head-menu-sub a { border-radius:0; border-bottom:1px solid #4d4d4d; color:#ccc; padding:0; display:inline; margin:0.2em 0.3em; }
nav.head-nav div.head-menu-sub a.active { border-radius:3px; border:0 none; color:#000; padding:0.2em 0.3em; margin:0; }
nav.head-nav div.head-menu-sub li { line-height:2rem; }
nav.head-nav div.head-menu-1 { font-size:0.9em; text-align:center; padding-left:1em; padding-right:1em; }
nav.head-nav div.head-menu-2 { font-size:0.8em; }
nav.head-nav li.head-menu-2-cat { font-weight:bold; padding:0 0.5em 0 0; }
nav.head-nav li.head-menu-li:hover div.head-menu-sub { opacity:1; max-height:200px; z-index:99; }

/* search & personal cabinet */

nav.head-nav div.head-search-pc { font-size:0.9em; display:-moz-inline-stack; display:inline-block; vertical-align:top; zoom:1; *display: inline; z-index:1; }
nav.head-nav form.head-search-form { display:-moz-inline-stack; display:inline-block; vertical-align:top; zoom:1; *display: inline; z-index:1; }
nav.head-nav input.head-search-input { background:none; color:#fff; width:120px; max-width:120px; padding:0.2em 25px 0.2em 0.5em; -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; }
input.head-search-submit { background:url(img/icons.png) no-repeat -82px 0; width:20px; height:20px; border:0 none; opacity:0.5; cursor:pointer; margin-left:-25px; -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; }
form.head-search-form:hover input.head-search-submit { opacity:1; }
nav.head-nav form.head-search-form:hover input.head-search-input, nav.head-nav input.head-search-input:focus { max-width:300px; width:300px; }

nav.head-nav div.head-pc { display:inline; }
nav.head-nav a.head-pc-a { padding:0.4rem 1rem; color:#000; background:rgba(255,255,255,0.5); border-radius:7px; font-size:.9em; -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; margin:0 0 -2px 1em; display:-moz-inline-stack; display:inline-block; vertical-align:top; zoom:1; *display: inline; z-index:1; }
nav.head-nav a.head-pc-a:hover { background:rgba(255,255,255,1); }

/* popup menu */

div.popup-body ul.head-menu { display:block; font-size:1.1em; margin:0; padding:0; }
div.popup-body ul.head-menu li { display:block; }
div.popup-body li.head-menu-li a { display:block; border:0 none; color:#333; padding:0.6em 2em 0.6em 1em; margin:0 -1rem; }
div.popup-body li.head-menu-li a span.cat { content:''; width:2em; height:2em; position:absolute; right:0; margin-top:-0.4em; background:url(img/icons-cat.png) no-repeat 5px 50%; }
div.popup-body li.head-menu-li a.active { color:#000; background:rgba(255,255,255,0.5); }
div.popup-body div.head-menu-sub { overflow:hidden; max-height:0; height:0; background:#777; margin:0 -1rem; -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; z-index:1; }
div.popup-body div.head-menu-sub-div { display:none; }
div.popup-body div.head-menu-sub.opened { height:auto; max-height:1000px; border-top:2px solid #fff; }
div.popup-body div.head-menu-sub.opened div.head-menu-sub-div { display:block; }
div.popup-body ul.head-menu-sub-ul { margin:0; padding:0; }
div.popup-body div.head-menu-sub-div.w1000 { width:100%; }
div.popup-body ul.head-menu-sub-ul a { margin:0; }
div.popup-body li.head-menu-2-cat { font-weight:bold; padding:0.6em 1em; }

div.popup-body div.head-search-pc { margin:1em 0 0; }
div.popup-body  input.head-search-input { border:2px solid #333; background:none; color:#000; padding:0.3em 25px 0.3em 0.5em; max-width:100%; }
div.popup-body  input.head-search-submit { position:absolute; background:url(img/icons.png) no-repeat -110px -22px; margin:0.3em 0 0 -25px; }
div.popup-body div.head-pc {  }
div.popup-body a.head-pc-a { color:#333; font-size:1.1em; border:0 none; -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; margin:1em 0 0; display:block; }
div.popup-body a.head-pc-a:hover { color:#000; }

div.popup-body address { margin:0 0 1em 0; }
div.popup-body ul.address-head * { color: #333; font-size:1rem; }
div.popup-body li.address-street a { display:none; }
div.popup-body span.address-time-now { display:block; font-size:0.8rem; color:#444; margin:0.5em 0; }
div.popup-body span.address-time-now * { font-size:0.8rem; color:#444; }
div.popup-body span.address-time-now span.icon { display:none; }

/* popup */

div.popup { opacity:0; position:absolute; overflow:hidden; width:0; min-height:100%; top:0; left:0; color:#333; z-index:80; -webkit-transition:opacity .5s ease; -moz-transition:opacity .5s ease; -o-transition:opacity .5s ease; transition:opacity .5s ease; }
div.popup-bg { background:rgba(0,0,0,0.7); position:absolute; width:100%; height:100%; min-height:100%; top:0; left:0; }
div.popup-panel { position:absolute; width:40%; min-width:280px; max-width:550px; background:#999; height:100%; min-height:100%; top:0; right:-100%; -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; overflow:auto; }
div.popup-back { opacity:0.5; padding:80px 0 0 2rem; cursor:pointer; -webkit-transition:opacity .5s ease; -moz-transition:opacity .5s ease; -o-transition:opacity .5s ease; transition:opacity .5s ease; position:relative; }
div.popup-back:before { content:' '; display:block; background:url(img/icons.png) 0 -21px no-repeat; width:60px; height:60px; position:absolute; bottom:0; }
div.popup-back:hover { opacity:1; }
div.popup-body { margin:2rem 2rem 5rem; }
div.popup-h1 { font-size:1.6em; margin-bottom:1rem; color:#000; }
div.popup.opened { opacity:1; width:100%; }
div.popup.opened div.popup-panel { right:0%; }
div.popup.opened.closing{ opacity:0; -webkit-transition:opacity .5s ease .5s; -moz-transition:opacity .5s ease .5s; -o-transition:opacity .5s ease .5s; transition:opacity .5s ease .5s; }
div.popup.opened.closing div.popup-panel { right:-100%; }


/* footer */

footer { font-size:0.8em; padding:3em 0 2em; background:rgba(0,0,0,0.3); border-top:1px solid rgba(255,255,255,0.3); overflow:hidden; }
nav.foot-nav a { opacity:1; color:#fff; border:0px solid #4d4d4d; -webkit-transition:opacity .5s ease; -moz-transition:opacity .5s ease; -o-transition:opacity .5s ease; transition:opacity .5s ease; }
nav.foot-nav a:hover { opacity:0.5; border-bottom:1px solid #4d4d4d; }
ul.foot-menu { padding:0; margin:0; list-style:none; }
ul.foot-menu-sub { padding:0; margin:0; list-style:none; }
li.foot-menu-li { width:17%; padding:1em 1% 0 0; display:-moz-inline-stack; display:inline-block; vertical-align:top; zoom:1; *display: inline; z-index:1; }
li.foot-menu-li.col-3 { width:24%; }
li.foot-menu-sub-li { padding:0 0 0.5em; }
div.copyright { margin:4em 0 0; color:#ccc; }

/* order button */

div.foot-order { margin:3em 0; text-align:center; }
div.foot-order a { height:90px; border:2px solid rgba(255,255,255,0.4);  border-radius:10px;  white-space:nowrap; width:47%; max-width:485px; margin:0.5%; display:-moz-inline-stack; display:inline-block; vertical-align:top; zoom:1; *display: inline; z-index:1; opacity:0.7; text-align:left; }
div.foot-order a, span.order-title-1 { -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; }
a.foot-order-1 { background:url(img/icons-order-01.png) -410px 55%; }
a.foot-order-2 { background:url(img/icons-order-02.png) -410px 55%; }
span.order-title-1 { display:block; margin:25px 0 0 180px; opacity:0.5; }
span.order-title-2 { display:block; margin:0 0 0 180px; font-size:1.5em; }
div.foot-order a:hover { border:2px solid rgba(255,255,255,1); opacity:1; }
div.foot-order a:hover  span.order-title-1 { opacity:1; } 

/* share */

div.share { margin:1.5em 0; }
div.share p { margin:0 0 0.5em; }
div.share-icons a { width:32px; height:32px; background:url(img/icons.png) no-repeat 50px 50px; margin:0 0.5em 0 0; opacity:0.5; display:-moz-inline-stack; display:inline-block; vertical-align:top; zoom:1; *display: inline; z-index:1; border:0 none; -webkit-transition:opacity .5s ease; -moz-transition:opacity .5s ease; -o-transition:opacity .5s ease; transition:opacity .5s ease; }
div.share-icons a:hover { opacity:1; }
div.share-icons a.fb { background-position:0 -82px; }
div.share-icons a.tw { background-position:-33px -82px; }
div.share-icons a.vk { background-position:-66px -82px; }

/* top button */

div.topbutton { position:fixed; top:-50px; width:49%; max-width:600px; margin:0 auto; left:50%; text-align:right;  }
div.topbutton i {  width:48px; height:48px; background:url(img/icons.png) no-repeat -61px -22px; opacity:0.3; display:-moz-inline-stack; display:inline-block; vertical-align:top; zoom:1; *display: inline; cursor:pointer; z-index:90; position:relative; }
div.topbutton, div.topbutton i { -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; }
div.topbutton.fixed { top:50px; }
div.topbutton.fixed i:hover{ opacity:0.7; }

/* popup form */
div.popup-body form { margin:2em 0 0; }
div.popup-body input, div.popup-body select, div.popup-body textarea { border:2px solid #666; background:#ddd; }
div.popup-body textarea { min-height:150px; }
div.popup-body li.button input { background:#444; color:#fff; border:0 none; }
form div.markstar { display:none; margin:0 0 0.8em; }
form li.hide:not(.selected) { display:none; }
input.checkbox { width:18px; height:18px; margin:2px; border:0 none; position:absolute; }
label.checkbox { margin:2em 0 0; padding:2px 0 0 30px; position:relative; }
label.checkbox:before { display:block; content:''; width:1px; height:1px; padding:10px; border:2px solid #666; background:url(img/icons.png) no-repeat 50px 50px #ddd; border-radius:7px; position:absolute; top:-3px; left:0; }
input.checkbox:checked + label.checkbox:before { background-position: -105px -79px; }
div.login-form-options { margin:1.5em 0; border-top:1px solid #333; padding:1em 0; }
div.login-form-options a { white-space:nowrap; line-height:2.5em; }

/* qrcode */
img.qrcode { max-width:400px; }

/* markstar */
div.markstar span { cursor:pointer; width:14px; height:14px; margin:0; background:url(img/icons.png) no-repeat -110px -58px; display:-moz-inline-stack; display:inline-block; vertical-align:top; zoom:1; *display: inline; z-index:1; }
div.markstar.star1 span.star1, div.markstar.star2 span.star1, div.markstar.star2 span.star2, div.markstar.star3 span.star1, div.markstar.star3 span.star2, div.markstar.star3 span.star3, div.markstar.star4 span.star1, div.markstar.star4 span.star2, div.markstar.star4 span.star3, div.markstar.star4 span.star4, div.markstar.star5 span.star1, div.markstar.star5 span.star2, div.markstar.star5 span.star3, div.markstar.star5 span.star4, div.markstar.star5 span.star5  { background-position:-110px -43px; }

/* map */
div#YMap { width:113%; min-height:350px; height:100%; margin:0 -2rem; }

/* mainphoto */
div.mainphoto { text-align:center; margin:0; }
div.mainphoto-slider { width:48%; height:400px; margin:2px; display:-moz-inline-stack; display:inline-block; vertical-align:top; zoom:1; *display: inline; z-index:1; position:relative; }
div.mainphoto-slider div.touchslider-viewport { width:48%; height:400px; overflow:hidden; }
div.mainphoto-slider div.touchslider-item { margin-right:4px; overflow:hidden; }
div.mainphoto-slider div.touchslider-nav { background:rgba(0,0,0,0.4); height:20px; padding:10px 15px; left:15px; bottom:15px; position:absolute; }
div.mainphoto-slider div.touchslider-arrows { position:absolute; width:100%; top:0; }
div.mainphoto-slider span.touchslider-arrow { width:65px; height:130px; position:absolute; background:url(img/arrows.png) no-repeat 0 50%; cursor:pointer; opacity:0.7; -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; }
div.mainphoto-slider span.touchslider-arrow.touchslider-prev { left:0; }
div.mainphoto-slider span.touchslider-arrow.touchslider-next { right:0; background-position:-135px 50%; }
div.mainphoto-slider span.touchslider-arrow:hover { opacity:1; }
div.mainphoto-slider span.touchslider-nav-now { width:30px; text-align:right; display:-moz-inline-stack; display:inline-block; vertical-align:top; zoom:1; *display: inline; z-index:1; }
div.mainphoto-slider span.touchslider-nav-zoom { margin:4px 0 0 14px; width:20px; height:20px; background:url(img/icons.png) no-repeat -127px 0; display:-moz-inline-stack; display:inline-block; vertical-align:top; zoom:1; *display: inline; z-index:1; cursor:pointer; opacity:0.5; -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; }
div.mainphoto-slider span.touchslider-nav-zoom:hover { opacity:1; }
div.mainphoto-item { width:24%; height:400px; margin:2px; overflow:hidden; position:relative; display:-moz-inline-stack; display:inline-block; vertical-align:top; zoom:1; *display: inline; z-index:1; }
div.mainphoto-item a { border:0 none; color:#fff; }
div.mainphoto-item img { opacity:0.5; -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; }
div.mainphoto-item a:hover img { opacity:1; -webkit-transform:scale(1.2); -moz-transform:scale(1.2); -o-transform:scale(1.2); transform:scale(1.2); }
div.mainphoto-item div.name { position:absolute; width:100%; bottom:2em; }

/* popup-photo */
div.popup-photo { opacity:0; position:absolute; overflow:hidden; width:0; min-height:100%; top:0; left:0; color:#333; z-index:80; -webkit-transition:opacity .5s ease; -moz-transition:opacity .5s ease; -o-transition:opacity .5s ease; transition:opacity .5s ease; }
div.popup-photo-bg { background:rgba(0,0,0,0.7); position:absolute; width:100%; height:100%; min-height:100%; top:0; left:0; }
div.popup-photo.opened { opacity:1; width:100%; }
div.mainphoto-slider.opened { z-index:90; }

/* colorbox */
div#cboxmywrap { height:50px; background:rgba(12,7,2,0.7); border-bottom:1px solid rgba(255,255,255,0.3); width:100%; position:relative; margin-top:-51px; }
div#cboxmywrap * { color:#fff; font-weight:normal; }
button#cboxPrevious { background:url(img/icons.png) -263px 0 no-repeat rgba(0,0,0,0.1); width:28px; height:26px; bottom:12px; left:30px; opacity:0.5; }
button#cboxNext { background:url(img/icons.png) -292px 0 no-repeat rgba(0,0,0,0.1); width:28px; height:26px; bottom:12px; left:145px; opacity:0.5; }
div#cboxCurrent { width:90px; text-align:center; }
button#cboxClose { background:url(img/icons.png) -321px 0 no-repeat rgba(0,0,0,0.1); width:25px; height:25px; bottom:12px; right:30px; opacity:0.5; }
button#cboxClose:hover { background-position:-321px 0; opacity:1; }
button#cboxPrevious:hover { background-position:-263px 0; opacity:1; }
button#cboxNext:hover { background-position:-292px 0; opacity:1; }
button#cboxPrevious, button#cboxNext, button#cboxClose { -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; }

/* photo-slider */
div.photo-slider { margin:1.5em 0; height:500px; position:relative; }
div.photo-slider div.touchslider-viewport { height:500px; overflow:hidden; }
div.photo-slider div.touchslider-item { margin-right:4px; overflow:hidden; }
div.photo-slider div.touchslider-item img { width:100%; }
div.photo-slider div.touchslider-nav { left:2em; bottom:2em; position:absolute; white-space:nowrap; }
div.photo-slider span.touchslider-nav-item { border-radius:15px; cursor:pointer; margin:5px; border:3px solid rgb(12,7,2); overflow:hidden; width:75px; height:75px; background:#fff; box-shadow:0 0 80px #000; display:-moz-inline-stack; display:inline-block; vertical-align:top; zoom:1; *display: inline; z-index:1; -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; }
div.photo-slider span.touchslider-nav-item img { width:75px; height:75px; opacity:1; -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; }
div.photo-slider span.touchslider-nav-item.touchslider-nav-item-current img { opacity:0.5; }
div.photo-slider span.touchslider-nav-item:hover { border:3px solid #fff; }
div.photo-slider span.touchslider-nav-item:hover  img{ -webkit-transform:scale(1.5); -moz-transform:scale(1.5); -o-transform:scale(1.5); transform:scale(1.5); }
div.photo-slider span.touchslider-nav-zoom { border-radius:15px; width:81px; height:81px; bottom:90px; margin:5px; position:absolute; background:url(img/icons.png) 2px -172px no-repeat rgba(12,7,2,0.7); cursor:pointer; -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; opacity:0.7; }
div.photo-slider span.touchslider-nav-zoom:hover { opacity:1; }
div.photo-slider span.touchslider-nav-now { display:none; }

/* item-menu */
div.item-menu { font-size:0.8em; }
ul.item-menu-ul { margin:1em 0 0; padding:0; }
ul.item-menu-ul a { text-decoration:none; display:block; -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; border-radius:0; border-bottom:1px solid #4d4d4d; color:#ccc; padding:0; margin:0 0.3em;  }
ul.item-menu-ul a.active { border-radius:3px; border:0 none; color:#000; padding:0 0.3em; margin:0; background:rgba(255,255,255,0.5); }
ul.item-menu-ul a:hover:not(.active) { opacity:0.4; }
ul.item-menu-ul li { line-height:1.5rem; display:-moz-inline-stack; display:inline-block; vertical-align:top; zoom:1; *display: inline; z-index:1; }
li.item-menu-cat { font-weight:bold; padding:0 0.5em 0 0; }

/* items-slider */
div.items2col { position:relative; margin:2em 0 0; }
div.col2 { width:49.9%; }
div.col2-1 { text-align:right; }
div.col2-2 { top:0; right:0; position:absolute; }
div.items2col-cat { font-size:1.3em; margin:0 1rem; }
div.items-slider { margin:0; height:300px; position:relative; }
div.items-slider div.touchslider-viewport { height:300px; overflow:hidden; }
div.items-slider div.touchslider-item { margin-right:4px; overflow:hidden; }
div.items-slider div.touchslider-item img { width:100%; }
div.items-slider div.touchslider-nav { padding:1rem; white-space:nowrap; font-size:0.8em; overflow:hidden; }
div.items-slider span.touchslider-nav-item { display:-moz-inline-stack; display:inline-block; vertical-align:top; zoom:1; *display: inline; z-index:1; }
div.items-slider span.touchslider-nav-item a { text-decoration:none; display:block; border-radius:0; border-bottom:1px solid #4d4d4d; color:#ccc; padding:0; margin:0.2em 0.5em; -webkit-transition:background .5s ease; -moz-transition:background .5s ease; -o-transition:background .5s ease; transition:background .5s ease; -webkit-transition:max-width 1s ease; -moz-transition:max-width 1s ease; -o-transition:max-width 1s ease; transition:max-width 1s ease; max-width:0; overflow:hidden; }
div.items-slider span.touchslider-nav-item.touchslider-nav-item-current a { border-radius:3px; border:0 none; color:#000; padding:0.2em 0.5em; margin:0; background:rgba(255,255,255,0.5); }
div.touchslider-after { height:2em; margin:2em 0; } 
div.items-slider span.touchslider-nav-item:before { content:''; display:block; width:1px; height:1px; border:2px solid #fff; border-radius:7px; background:#fff; position:absolute; margin:0.6em 0 0 0.6em; opacity:0.5; }
div.items-slider span.touchslider-nav-item:hover a, div.items-slider span.touchslider-nav-item.opened a, div.items-slider span.touchslider-nav-item-current a { max-width:200px; }
div.items-slider span.touchslider-nav-item:hover:before, div.items-slider span.touchslider-nav-item.opened:before, div.items-slider span.touchslider-nav-item-current:before { display:none; }
div.items-slider a.item-a { display:block; position:absolute; top:1em; border-radius:3px; border:0 none; color:#fff; padding:0.2em 0.5em; background:rgba(12,7,2,0.5); -webkit-transition:background .5s ease; -moz-transition:background .5s ease; -o-transition:background .5s ease; transition:background .5s ease; }
div.col2-1 div.items-slider a.item-a { right:1em; }
div.col2-2 div.items-slider a.item-a { left:1em; }
div.items-slider a.item-a:hover { background:rgba(12,7,2,1); }
div.items-slider a.item-a:after{ margin:0 0 0 0.5em; content:''; width:20px; height:20px; background:url(img/icons.png) no-repeat -127px 0; display:-moz-inline-stack; display:inline-block; vertical-align:top; zoom:1; *display: inline; z-index:1; cursor:pointer; opacity:0.5; -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; }
div.items-slider a.item-a:hover:after { opacity:1; }

/* mebel */
div.mebel { text-align:center; margin:2em 0; }
div.col4 div.coli { width:24%; margin:1em 2px; overflow:hidden; position:relative; display:-moz-inline-stack; display:inline-block; vertical-align:top; zoom:1; *display: inline; z-index:1; } 
div.mebel div.name { font-size: 1.65em; opacity:0.7; -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; }
div.mebel a:hover .name { opacity:1; }
div.mebel div.title { color:#fff; margin:0.2em 0 1em; }
div.mebel div.img { overflow:hidden; height:400px; position:relative; }
div.mebel div.img img { opacity:0.5; -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; }
div.mebel a:hover img { opacity:1; -webkit-transform:scale(1.2); -moz-transform:scale(1.2); -o-transform:scale(1.2); transform:scale(1.2); }
div.mebel div.logo { width:140px; height:140px; background:rgb(49,17,0); background-size:cover; position:absolute; left:0; top:0; opacity:0.7; border-radius:15px; -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; }
div.mebel a:hover div.logo { top:-400px !important; }
div.mebel div.mebel-napol div.logo { background-image:url(img/mebel-logo-napol.png); }
div.mebel div.mebel-erba div.logo { background-image:url(img/mebel-logo-erba.png); }
div.mebel div.mebel-comprex div.logo { background-image:url(img/mebel-logo-comprex.png); }
div.mebel div.mebel-dorelan div.logo { background-image:url(img/mebel-logo-dorelan.png); }

div.mebel div.body { text-align:left; font-size:0.8em; padding:1em; }
div.mebel div.site { margin:0 0 1em; position:relative; }
div.mebel div.site a:after { content:''; background:url(img/icons.png) -133px -22px no-repeat; width:13px; height:10px; opacity:0.5; -webkit-transition:opacity .5s ease; -moz-transition:opacity .5s ease; -o-transition:opacity .5s ease; transition:opacity .5s ease; position:absolute; display:-moz-inline-stack; display:inline-block; vertical-align:top; zoom:1; *display: inline; z-index:1; margin:0.2em 0 0 0.5em; }
div.mebel div.site a:hover:after { opacity:1; }

/* vnalichii */
ul.item-list { padding:0; margin:0; list-style:none; margin:1em auto; text-align:center; }
ul.item-list li.item { background-size:cover; width:24%; height:240px; display:-moz-inline-stack; display:inline-block; vertical-align:top; zoom:1; *display: inline; z-index:1; margin:0.4%; position:relative; overflow:hidden; }
ul.item-list li.item a { display:block; width:100%; height:100%; color:#fff; text-decoration:none; border-bottom:0 none; }
ul.item-list li.item div.discount { padding:0.8em 0.3em; position:absolute; top:10px; right:10px; border-radius:7px; color:#fff; background:#ffb200; text-shadow:0 0 2px #000, 0 0 10px #000; }
ul.item-list li.item div.label { background:rgba(12,7,2,0.9); padding:2% 10%; text-align:left; position:absolute; bottom:0; width:80%; }
ul.item-list li.item div.price { font-size:1.2em; margin:0 0 0.3em; white-space:nowrap; }
ul.item-list li.item.sale div.price span.price-val { font-size:0.8em; opacity:0.7; text-decoration:line-through; }
ul.item-list li.item.sale div.price span.price-val:after { content:''; padding:0 0.3em;}
ul.item-list li.item div.price span.rub { font-size:0.6em; }
ul.item-list li.item div.text { font-size:0.8em; max-height:1.2em; overflow:hidden; }
ul.item-list li.item div.reserv { margin:0; max-height:0; opacity:0; }
ul.item-list li.item div.reserv a { display:inline; color:#000; padding:0.2em 1em; border-radius:7px; background:rgba(255,255,255,0.5); font-size:0.9em; }
ul.item-list li.item div.reserv a:hover { background:rgba(255,255,255,1); }
ul.item-list li.item:hover div.label { max-height:10em; }
ul.item-list li.item:hover div.text { line-height:1.2em; max-height:5em; }
ul.item-list li.item:hover div.reserv { margin:0.5em 0; max-height:2em; opacity:1; }
ul.item-list li.item div.text, ul.item-list li.item div.reserv a, ul.item-list li.item div.reserv { -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; }

/* filters */
div.filters { margin:2em 0; }
div.filters a { line-height:2em; white-space:nowrap; color:#fff; padding:0.2em 0.5em; border-radius:7px; border:2px solid #fff; -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; opacity:1; }
div.filters a.active { color:#000; background:rgba(255,255,255,0.7); border:2px solid rgba(255,255,255,0); }
div.filters a:hover { opacity:0.5; }
div.item-list-more { text-align:center; margin:4em 0; }
a.item-list-more-a { overflow:hidden; position:relative; color:#000; background-color:rgba(255,255,255,0.5); border:0 none; padding:0.5em 1.5em; border-radius:7px; -webkit-transition:opacity .5s ease; -moz-transition:opacity .5s ease; -o-transition:opacity .5s ease; transition:opacity .5s ease; }
a.item-list-more-a:not(.loading):hover { background-color:rgba(255,255,255,1); }
a.item-list-more-a.loading span.item-list-more-a-text { opacity:0; }
a.item-list-more-a.loading { background:url(img/preloader-b-100.gif) 50% 50% no-repeat rgba(255,255,255,0.5); }
div.filters a.normal { color:#fff; border:0 none; text-decoration:underline; }
div.filters a.normal:hover { color:#ccc; text-decoration:none; }

/* product */
div.product-panels { position:relative; min-height:500px; }
div.product-panels div.panel-description { margin-left:52%; padding:0 2.5% 0 0; position:relative; }
div.product-panels div.panel-image { position:absolute; width:50%; overflow:hidden; top:0; left:0; margin:0 0 2em; }
div.product-panels div.panel-image img { width:100%; }
div.panel-image div.discount { padding:0.8em 0.3em; position:absolute; top:10px; right:10px; border-radius:7px; color:#fff; background:#ffb200; text-shadow:0 0 2px #000, 0 0 10px #000; z-index:99; }
div.panel-description div.price { font-size:1.5em; margin:0 1em 0.8em 0; white-space:nowrap; }
div.panel-description div.price.sale span.price-val { font-size:0.8em; opacity:0.7; text-decoration:line-through; }
div.panel-description div.price.sale span.price-val:after { content:''; padding:0 0.3em;}
div.panel-description div.price span.rub { font-size:0.6em; }
div.panel-description div.price, div.panel-description div.reserv { display:-moz-inline-stack; display:inline-block; vertical-align:top; zoom:1; *display: inline; z-index:1; }
div.panel-description div.reserv { padding:0.5em 0 2em; }
div.panel-description div.reserv a { color:#fff; background:#ffb200; border:0 none; padding:0.5em 1.5em; border-radius:7px; -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; text-shadow:0 0 2px #000, 0 0 10px #000, 0 0 20px #000; }
div.panel-description div.reserv a:hover { background:#926700; text-shadow:0 0 2px #000; }
div.panel-description div.description { font-size:0.9em; margin-bottom:4em; }
div.panel-description div.description-long { display:none; position:absolute; bottom:-2em; cursor:pointer; color:#ccc; border-bottom:1px dotted #666;  }
div.panel-description div.description.long { overflow:hidden; max-height:120px; }

/* order */
form.order-form { position:relative; }
form.order-form input, form.order-form select, form.order-form textarea { background:rgba(12,7,2,0.3); color:#fff; box-shadow:0 0 30px #000; }
form.order-form label { color:#ccc; }
div.form2col li { width:420px; display:-moz-inline-stack; display:inline-block; vertical-align:top; zoom:1; *display: inline; z-index:1; }
form.order-form textarea { max-width:824px; height:100px; }
li.order-type { margin-bottom:2em; }
div.ordervnalichii-img { background-size:cover; background-position:0 50%; width:100px; height:100px; display:-moz-inline-stack; display:inline-block; vertical-align:top; zoom:1; *display: inline; z-index:1; }
div.ordervnalichii-description { padding-left:2em; display:-moz-inline-stack; display:inline-block; vertical-align:top; zoom:1; *display: inline; z-index:1; }
div.ordervnalichii-description div.price { font-size:1.5em; margin:0 1em 0.8em 0; white-space:nowrap; }
div.ordervnalichii-description div.price.sale span.price-val { font-size:0.8em; opacity:0.7; text-decoration:line-through; }
div.ordervnalichii-description div.price.sale span.price-val:after { content:''; padding:0 0.3em;}
div.ordervnalichii-description div.price span.rub { font-size:0.6em; }
form.order-form li.button input { background:rgba(255,255,255,0.7); color:#000; border:0 none; -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; }
form.order-form li.button input:hover { text-shadow:0 0 20px #000; background:rgba(255,255,255,1); }

div.order-form-manager { position:absolute; right:0; width:20%; }
div.order-form-manager img { width:100%; }
div.order-form-text { max-width:80%; }

/* design */
ul.item-list.design li.item { width:32.3%; height:280px; margin:0.4%; }
ul.item-list li.item:hover div.text { line-height:1.2em; max-height:9.6em; }

div.slider1000 { width:100%; height:500px; position:relative; }
div.slider1000 div.touchslider-viewport { height:500px; overflow:hidden; }
div.slider1000 div.touchslider-item { margin-right:4px; overflow:hidden; }
div.slider1000 div.touchslider-item img { height:500px; }
div.slider1000 div.touchslider-nav { background:rgba(0,0,0,0.4); height:20px; padding:10px 15px; left:15px; bottom:15px; position:absolute; }
div.slider1000 div.touchslider-arrows { position:absolute; width:100%; top:0; }
div.slider1000 span.touchslider-arrow { width:65px; height:500px; position:absolute; background:url(img/arrows.png) no-repeat 0 50%; cursor:pointer; opacity:0.7; -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; }
div.slider1000 span.touchslider-arrow.touchslider-prev { left:0; }
div.slider1000 span.touchslider-arrow.touchslider-next { right:0; background-position:-135px 50%; }
div.slider1000 span.touchslider-arrow:hover { opacity:1; }
div.slider1000 span.touchslider-nav-now { width:30px; text-align:right; display:-moz-inline-stack; display:inline-block; vertical-align:top; zoom:1; *display: inline; z-index:1; }
div.slider1000 span.touchslider-nav-zoom { margin:4px 0 0 14px; width:20px; height:20px; background:url(img/icons.png) no-repeat -127px 0; display:-moz-inline-stack; display:inline-block; vertical-align:top; zoom:1; *display: inline; z-index:1; cursor:pointer; opacity:0.5; -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; }
div.slider1000 span.touchslider-nav-zoom:hover { opacity:1; }
div.design-order { margin:2em 0; }

/* contact */
div.product-panels div.panel-description.contacts { padding-top:2em; }
div.panel-description.contacts label { color: #ccc; }
div.panel-description.contacts p { font-size:1.2em; }
div.contacts-message { margin:2em 0; }
div#YMapContacts { width:100%; height:500px; }

/* otzyvy */
div.otzyvy-filters { margin:2em 0; }
a.otzyvy-filter{ line-height:2em; white-space:nowrap; color:#fff; padding:0.2em 0.5em; border-radius:7px; border:0 none; background:rgba(255,255,255,0); -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; }
a.otzyvy-filter.active { color:#000; background:rgba(255,255,255,0.7); }
a.otzyvy-filter:not(.active ):hover { background:rgba(255,255,255,0.3); }
div.otzyvy-filters span { padding:0 2em; }
ul.otzyvy-list li.item { width:100%; height:auto; margin:1em 0; text-align:left; overflow:visible;}
div.otzyvy-title { background:rgba(12,7,2,0.5); border-bottom:1px solid rgba(255,255,255,0.5); margin:0 -2em 1em; padding:0.3em 2em 0.3em 7em; position:relative; }
div.otzyvy-show { position:absolute; }
div.otzyvy-show span { cursor:pointer; color:#999; border-bottom:1px dotted #999; font-size:0.8em; }
div.otzyvy-show span:hover { color:#fff; border:0 none; }
div.otzyvy-text2 { height:0; overflow:hidden; }
div.otzyvy-text2.show { height:auto; }
div.otzyvy-rating { text-align:right; font-size:0.8em; -moz-user-select:-moz-none; -o-user-select:none; -khtml-user-select:none; -webkit-user-select:none; user-select:none; }
span.otzyvy-rating-sp { padding:0 0.5em; }
span.otzyvy-rating1 { color:#999; }
span.otzyvy-rating-val { font-size:1.4em; }
span.otzyvy-rating-link { cursor:pointer; border-bottom:1px dotted #ccc; }
span.otzyvy-rating-link:hover { color:#999; border:0 none; }

ul.otzyvy-list div.markstar-white { position:absolute; left:2em; top:0.5em; }
div.markstar-white span { cursor:pointer; width:14px; height:14px; margin:0; background:url(img/icons.png) no-repeat -128px -58px; display:-moz-inline-stack; display:inline-block; vertical-align:top; zoom:1; *display: inline; z-index:1; }
div.markstar-white.star1 span.star1, div.markstar-white.star2 span.star1, div.markstar-white.star2 span.star2, div.markstar-white.star3 span.star1, div.markstar-white.star3 span.star2, div.markstar-white.star3 span.star3, div.markstar-white.star4 span.star1, div.markstar-white.star4 span.star2, div.markstar-white.star4 span.star3, div.markstar-white.star4 span.star4, div.markstar-white.star5 span.star1, div.markstar-white.star5 span.star2, div.markstar-white.star5 span.star3, div.markstar-white.star5 span.star4, div.markstar-white.star5 span.star5  { background-position:-128px -43px; }

/* vopros */
div.vopros-filters { margin:-2.5em 0 2em; text-align:center; }
ul.vopros-list li.item { width:100%; height:auto; margin:1em 0; text-align:left; overflow:visible; cursor:pointer; }
li.vopros-item p { margin-bottom:0.5em; }
div.vopros-show span { color:#999; border-bottom:1px dotted #999; font-size:0.8em; }
li.vopros-item:hover div.vopros-show span { border:0 none; }
div.vopros-text2 { display:none; background:rgba(12,7,2,0.5); border-bottom:1px solid rgba(255,255,255,0.5); margin:1em 0; padding:1em 1em 1em 3em; }

/* sovety */
ul.sovety-list li.item { width:100%; height:auto; margin:1em 0; text-align:left; overflow:visible; cursor:pointer; }
ul.sovety-list a.sovety-title { font-size:1.5em; }
ul.sovety-list div.sovety-cat { font-size:0.8em; color:#999; margin:0 0 1em; }
ul.sovety-list div.sovety-img, ul.sovety-list div.sovety-text { display:-moz-inline-stack; display:inline-block; vertical-align:top; zoom:1; *display: inline; z-index:1; }
ul.sovety-list div.sovety-img { width:150px; height:100px; overflow:hidden; }
ul.sovety-list div.sovety-text { max-width:800px; padding-left:30px; }
ul.sovety-list div.sovety-img img{ width:100%; height:100%; }
div.sovety-nav a:not(.sovety-nav-all) { line-height:2em; color:#fff; padding:0.2em 0.5em; border-radius:7px; border:0 none; background:rgba(255,255,255,0); -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; }
div.sovety-nav a.active { color:#000; background:rgba(255,255,255,0.7); }
div.sovety-nav a:not(.active ):not(.sovety-nav-all):hover { background:rgba(255,255,255,0.3); }
 
@media screen and (max-width: 1200px) {
nav.head-nav ul.head-menu, nav.head-nav form.head-search-form { font-size:1em; }
nav.head-nav div.head-pc { font-size:.9em; }
}

@media screen and (max-width: 1000px) {
body { background-attachment:scroll; }
div.w1000 { width:95%; }
div.head-logo img { width:100%; max-width:429px; }
ul.head-menu, form.head-search-form { font-size:.9em; }
ul.head-menu { display:block; }
div.head-logo { width:20%; margin:1.5% 0 0; }
div.head-contacts { width:75%; margin:2% 0 1em 3%; }
li.address-street  { font-size:0.9em; }
header { border:0 none; }
nav.head-nav { margin-bottom:3em; border-bottom:1px solid rgba(255,255,255,0.3); }
nav.head-nav div.head-pc { font-size:.8em; }
nav.head-nav div.head-search-pc { display:block; position:absolute; margin-top:1em; right:1em; }
nav.head-nav input.head-search-input { max-width:250px; }
div.head-menu-sub { background:rgba(0,0,0,1); }
div.popup-back { padding:80px 0 0 1rem; }
div.popup-body { margin:1rem 1rem 3rem; }
a.foot-order-1 { background:url(img/icons-order-01.png) -500px 55%; }
a.foot-order-2 { background:url(img/icons-order-02.png) -500px 55%; }
span.order-title-1 { margin:25px 0 0 20%; }
span.order-title-2 { margin:0 0 0 20%; }
div#YMap { margin:0 -1rem; }
div.mainphoto-item { width:48%; height:160px; }
div.photo-slider div.touchslider-nav { display:none; }
div.col4 div.coli { width:48%; } 
div.mebel div.img { height:160px; }
div.mebel div.logo { width:40px; height:40px; border-radius:5px; }
ul.item-list li.item, ul.item-list.design li.item { width:48%; height:200px; background-position:50% 50%; }
ul.item-list.otzyvy-list li.item, ul.item-list.vopros-list li.item, ul.item-list.sovety-list li.item{ width:100%; height:auto; }
ul.sovety-list div.sovety-text { max-width:400px; }

}

@media screen and (max-width: 600px) {
body { font-size: 14px; }
div.head-name { font-size: 1.3em; }
div.head-logo { width:40%; margin:0; }
div.head-contacts { width:45%; margin:2% 0 1em 5%; }
header { border-bottom:1px solid rgba(255,255,255,0.3); }
header address { display:none; }
address span.icon { margin-left:0.9rem; }
header span.address-time-now, a.address-phone-a span.icon { display:none; }
ul.mobile-nav { display:block; }
nav.head-nav { display:none; }
div.popup-body  input.head-search-input { padding:0.6em 25px 0.6em 0.5em; }
div.popup-body  input.head-search-submit { margin:0.6em 0 0 -25px; }
div.popup-back { padding:40px 0 0 1rem; }
div.popup-back:before { background-size:500px 500px; background-position:0 -10px; width:30px; height:31px; }
footer { font-size:1em; padding:1em 0 2em; }
li.foot-menu-li { display:none; width:48%; padding:1em 0 0; }
li.foot-menu-li.col-4, li.foot-menu-li.col-5 { display:inline-block; }
div.copyright { margin:2em 0 0; }
div.topbutton { display:none; }
div.foot-order a { white-space:normal; background-size:500px; height:auto; min-height:120px; }
a.foot-order-1 { background-position:-250px -40px; }
a.foot-order-2 { background-position:-250px -40px; }
a.foot-order-1 span.order-title-1 { margin:25px 0 0 25%; }
a.foot-order-1 span.order-title-2 { margin:0 0 0 25%; }
div.foot-order { font-size:0.9; }
form.message-form textarea { min-height:100px; }
div.markstar span { width:30px; height:30px; background-position:0 -58px; background-size:500px; }
div.markstar.star1 span.star1, div.markstar.star2 span.star1, div.markstar.star2 span.star2, div.markstar.star3 span.star1, div.markstar.star3 span.star2, div.markstar.star3 span.star3, div.markstar.star4 span.star1, div.markstar.star4 span.star2, div.markstar.star4 span.star3, div.markstar.star4 span.star4, div.markstar.star5 span.star1, div.markstar.star5 span.star2, div.markstar.star5 span.star3, div.markstar.star5 span.star4, div.markstar.star5 span.star5  { background-position:-30px -58px; }
div.mainphoto-slider div.touchslider-arrows, div.mainphoto-slider  div.touchslider-nav { display:none; }
article { -webkit-column-count:1; -moz-column-count:1; column-count:1; }
div.photo-slider, div.photo-slider div.touchslider-viewport, div.photo-slider div.touchslider-item { height:256px !important; }
div.photo-slider div.touchslider-item img { width:640px; }
div.col2 { width:100%; }
div.col2-1 { text-align:left; }
div.col2-2 { position:static; }
div.items-slider span.touchslider-nav-item:before { border:1px solid #fff; }
div.col2-2 div.items-slider a.item-a { left:auto; right:1em; }
div.mebel div.body { display:none; }
div.product-panels div.panel-description { margin-left:1em; padding:0 1em 0 0; }
div.product-panels div.panel-image { position:relative; width:100%; height:auto; }
div.form2col li { width:100%; }
div.ordervnalichii-img { width:100%; height:150px; }
div.order-form-manager { display:none; }
div.order-form-text { max-width:100%; }
div.slider1000 div.touchslider-arrows { display:none; }
div.slider1000, div.slider1000 div.touchslider-viewport, div.slider1000 div.touchslider-item img { height:250px; }
div.product-panels div.panel-description.contacts { padding:0 0 2em; }
div#YMapContacts { height:300px; }
div.filters a.normal { display:block; }
div.otzyvy-filters span { display:none; }
div.otzyvy-filters a.otzyvy-add { line-height:3em; }
div.otzyvy-title { margin:0 -1em 1em; padding:0.3em 0 0.3em 1em; }
ul.otzyvy-list div.markstar-white { position:static; }
div.vopros-filters { margin:0 0 2em; text-align:left; }
ul.sovety-list div.sovety-text { margin-top:1em; }

}